# Serveur SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# Compte Gmail (utiliser un mot de passe d'application)
SMTP_USER=prenomnom@gmail.com
SMTP_PASS=12345678910motdepasseapplication

# Destinataire de l'email
RECIPIENT=prenomnom@gmail.com